<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit a fruit</title>
  </head>
 <body>
    <h1>Edit <%= cat.name %></h1>
<form action="/cats/<%=cat._id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
  
    <label for="isReadyToPet">Ready to Pet?</label>
    <input type="checkbox" name="isReadyToPet" id="isReadyToEat" />
  
    <button type="submit">Update Cat</button>
  </form>
  
    <a href="/cats">Back to Cats</a>
  </body>
  
  
</html>